/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #233b25;
    color: white;
}
#medicine-select {
  border-radius: 8px; /* Rounded corners */
  padding: 2px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1,
h2 {
    text-align: center;
    color: #6cfa73;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: center;
}

#total-bill {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: right;
}

.btn-dark-green {
    font-weight: bold;
    background-color: #388e3c;
    color: white;
    padding: 10px ;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
#card-number{
    margin-bottom: 5px;
}
#expiry-date{
    margin-left: 12px;
    margin-bottom: 5px;
}
#cvv{
    margin-left: 62px;
    margin-bottom: 5px;
}
.btn-dark-green:hover {
    background-color: #2e7d32;
}

#qr-code-section img {
    display: block;
    margin: auto;
}

#invoice {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: monospace;
}

.invoice-header {
    text-align: center;
    margin-bottom: 20px;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invoice-table th,
.invoice-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.invoice-total {
    text-align: right;
    font-size: 1.2em;
}
